.tags-view-container {
    padding: 6px 16px;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    background: #fff;
    
    .ant-tag {
        margin: 4px;
        cursor: pointer;
        user-select: none;
        
        &:first-child {
            margin-left: 0;
        }
    }
}
